# Metod 1

In [3]:
first_name = "Ming Hao"
last_name = 'Loo'

sentences = "My name is {} {}".format(first_name,last_name)
print(sentences)

My name is Ming Hao Loo

# Metod 2

In [4]:
first_name = "Ming Hao"
last_name = 'Loo'

sentences = f"My name is {first_name.upper()} {last_name.lower()}"
print(sentences)

My name is MING HAO loo

# Error Example
f'' inside cannot have another ''
so to solve it use f" "

In [ ]:
# dictionary
person = {'name':'Loo Ming Hao', 'age':25}

sentences = f'My name is {person['name']} and I am {person['age']} years old'
print(sentences)

**Solved by using f" "**

In [6]:
# dictionary
person = {'name':'Loo Ming Hao', 'age':25}

sentences = f"My name is {person['name']} and I am {person['age']} years old"
print(sentences)

My name is Loo Ming Hao and I am 25 years old

# Calculation

In [8]:
n = 4 * 11

cal = f"4 times 11 is equal to {n}"
print(cal)

4 times 11 is equal to 44

# For Loop

In [12]:
for n in range(1,11):
    # 2f = 2 float value
    sentences = f"The value is {n:.2f}"
    print(sentences)

The value is 1.00
The value is 2.00
The value is 3.00
The value is 4.00
The value is 5.00
The value is 6.00
The value is 7.00
The value is 8.00
The value is 9.00
The value is 10.00

In [13]:
pi = 3.14159265

sentences = f"Pi is equal to {pi:.4f}"
print(sentences)

Pi is equal to 3.1416

# Date

In [14]:
from datetime import datetime

birthday = datetime(1999,4,16)
sentences = f"My birthday is on {birthday:%d,%b,%Y}"
print(sentences)

My birthday is on 16,Apr,1999